dongjun-website/src/main/resources/wsdl/hardware.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.cxf.service.dongjun.gdut.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://cxf.service.dongjun.gdut.com/" name="HardwareServiceImplService" targetNamespace="http://impl.cxf.service.dongjun.gdut.com/">
<wsdl:import location="http://localhost:8090/ws-server-1.0/api/hello?wsdl=HardwareService.wsdl" namespace="http://cxf.service.dongjun.gdut.com/"></wsdl:import>
<wsdl:binding name="HardwareServiceImplServiceSoapBinding" type="ns1:HardwareService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="changeCtxOpen">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="changeCtxOpen">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="changeCtxOpenResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getOnlineAddressById">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getOnlineAddressById">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getOnlineAddressByIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getSwitchGPRS">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getSwitchGPRS">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getSwitchGPRSResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getCtxInstance">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getCtxInstance">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCtxInstanceResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getStatusbyId">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getStatusbyId">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getStatusbyIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="generateOpenSwitchMessage">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="generateOpenSwitchMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="generateOpenSwitchMessageResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="generateCloseSwitchMessage">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="generateCloseSwitchMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="generateCloseSwitchMessageResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="HardwareServiceImplService">
<wsdl:port binding="tns:HardwareServiceImplServiceSoapBinding" name="HardwareServiceImplPort">
<soap:address location="http://localhost:8090/ws-server-1.0/api/hello"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>