dongjun-website/src/main/resources/wsdl/hardware.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.cxf.service.dongjun.gdut.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://cxf.service.dongjun.gdut.com/" name="HardwareServiceImplService" targetNamespace="http://impl.cxf.service.dongjun.gdut.com/">
<wsdl:import location="http://120.25.1.47:8090/ws-server-1.0/api/hello?wsdl=HardwareService.wsdl" namespace="http://cxf.service.dongjun.gdut.com/"></wsdl:import>
<wsdl:binding name="HardwareServiceImplServiceSoapBinding" type="ns1:HardwareService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="changeCtxOpen">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="changeCtxOpen">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="changeCtxOpenResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getOnlineAddressById">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getOnlineAddressById">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getOnlineAddressByIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getSwitchGPRS">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getSwitchGPRS">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getSwitchGPRSResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getCtxInstance">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getCtxInstance">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getCtxInstanceResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getStatusbyId">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getStatusbyId">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getStatusbyIdResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="generateOpenSwitchMessage">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="generateOpenSwitchMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="generateOpenSwitchMessageResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="generateCloseSwitchMessage">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="generateCloseSwitchMessage">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="generateCloseSwitchMessageResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="HardwareServiceImplService">
<wsdl:port binding="tns:HardwareServiceImplServiceSoapBinding" name="HardwareServiceImplPort">
<soap:address location="http://120.25.1.47:8090/ws-server-1.0/api/hello"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
#yddContainer{display:block;font-family:Microsoft YaHei;position:relative;width:100%;height:100%;top:-4px;left:-4px;font-size:12px;border:1px solid}#yddTop{display:block;height:22px}#yddTopBorderlr{display:block;position:static;height:17px;padding:2px 28px;line-height:17px;font-size:12px;color:#5079bb;font-weight:bold;border-style:none solid;border-width:1px}#yddTopBorderlr .ydd-sp{position:absolute;top:2px;height:0;overflow:hidden}.ydd-icon{left:5px;width:17px;padding:0px 0px 0px 0px;padding-top:17px;background-position:-16px -44px}.ydd-close{right:5px;width:16px;padding-top:16px;background-position:left -44px}#yddKeyTitle{float:left;text-decoration:none}#yddMiddle{display:block;margin-bottom:10px}.ydd-tabs{display:block;margin:5px 0;padding:0 5px;height:18px;border-bottom:1px solid}.ydd-tab{display:block;float:left;height:18px;margin:0 5px -1px 0;padding:0 4px;line-height:18px;border:1px solid;border-bottom:none}.ydd-trans-container{display:block;line-height:160%}.ydd-trans-container a{text-decoration:none;}#yddBottom{position:absolute;bottom:0;left:0;width:100%;height:22px;line-height:22px;overflow:hidden;background-position:left -22px}.ydd-padding010{padding:0 10px}#yddWrapper{color:#252525;z-index:10001;background:url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ab20.png);}#yddContainer{background:#fff;border-color:#4b7598}#yddTopBorderlr{border-color:#f0f8fc}#yddWrapper .ydd-sp{background-image:url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ydd-sprite.png)}#yddWrapper a,#yddWrapper a:hover,#yddWrapper a:visited{color:#50799b}#yddWrapper .ydd-tabs{color:#959595}.ydd-tabs,.ydd-tab{background:#fff;border-color:#d5e7f3}#yddBottom{color:#363636}#yddWrapper{min-width:250px;max-width:400px;}